<div class="jumbotron jumbotron-fluid bg-light mt-5 mb-0">
    <div class="container">
        <h1 class="display-4 mt-3">Nuestras delegaciones</h1>
    </div>
</div>
<div class="container">
    <div class="card mb-3 mt-3" style="width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="card-img portada">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Aranda de Duero</h5>
                    <p class="card-text">C/ Constantín, 9 <br> Pol. Ind. Allendeduero <br> 09400, Aranda de Duero, (Burgos)
                    </p>
                    <div class="div-telefonossede">
                        <i class="fas fa-phone"></i>
                        <div class="telefonossede">
                            <p><a href="tel: +34 628266844">628266844</a></p>
                            <p><a href="tel: +34 947516828">947516828</a></p>
                        </div>
                    </div>
                    <div>
                        <i class="fas fa-envelope-open"></i>
                        <p><a href="mailto: administradcion@tysgen.com">administradcion@tysgen.com</a></p>
                    </div>
                    <p class="card-text"><small class="text-muted">Sede central</small></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card mb-3" style="width: 100%;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="portada">
                    <img src="https://via.placeholder.com/150" class="card-img portada" alt="...">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Barcelona</h5>
                    <p class="card-text">C/La Torre, s/n <br> Pol. Ind, CIM Vallés <br> 08130 Sta. Perpetua de Mogoda <br> (Barcelona)
                    </p>
                    <div class="div-telefonossede">
                        <i class="fas fa-phone"></i>
                        <div class="telefonossede">
                            <p><a href="tel: +34 608162525">608162525</a></p>
                            <p><a href="tel: +34 935600777">935600777</a></p>
                        </div>
                    </div>
                    <div>
                        <i class="fas fa-envelope-open"></i>
                        <p><a href="mailto: david@tysgen.com">david@tysgen.com</a></p>
                    </div>
                    <p class="card-text"><small class="text-muted">Delegación en Barcelona</small></p>
                </div>
            </div>
        </div>
    </div>
</div>