<footer class="container-fluid">
    <div class="container footer">
        <div>
            <h5>Nuestra dirección:</h5>
            <p>C/ Constantin, 9 - Pol. Ind. Allendeduero <br> Aranda de Duero <br> BURGOS <br> 09400
            </p>
        </div>
        <div class="derechos">
            <h5>
                {{anno}} TYSGEN SL. Todos los derechos reservados.
            </h5>
        </div>

    </div>

</footer>
<div class=" container promo">
    <p> Desarrollado por: <a href="https://www.linkedin.com/in/brunomartinezgonza/"> Bruno Martínez González</a></p>
</div>